@import url('https://fonts.googleapis.com/css?family=Poppins:900&display=swap');
*{
    margin: 0px;
    font-family: 'Poppins';
   scrollbar-color: #fff;
}

.cabesalho{
    background: #201f21;
    width: 100%;
    height: 16vh;
    position: absolute;
    top: 0px;
}
.cabesalho:before{
    content: "";
    position: absolute;
    right: 0px;
    top: 0px;
    background: #af00ff;
    width: 30%;
    height: 20vh;
    position: absolute;
    top: 0px;
    clip-path: polygon(52% 0, 100% 0%, 100% 100%, 0 100%);
}

.cabesalho .barra-de-pesquisa img{
    position: absolute;
    top: 30px;
    left: 26%;
    filter: invert(0.5);  
}

.cabesalho .barra-de-pesquisa input{
    position: absolute;
    background: #383434;
    top: 20px;
    left: 25%;
    width: 420px;
    height: 43px;
    border: none;
    border-radius: 52px;
    text-indent: 45px;
    color: white;
    outline-style: none;
}

.cabesalho nav{
    position: absolute;
    right: 301px;
    top: 20px;
}

.cabesalho nav ul{
    list-style: none;
}

.cabesalho nav ul li{
    float: left;
    position: relative;
    padding-right: 36px;
}

.cabesalho nav ul li img{
    filter: invert();
}

.cabesalho nav ul li span{
    color: white;
    font-family: 'Poppins';
    position: absolute;
    top: 10px;
}
.logo{
    width: 130px;
    height: 67px;
    position: absolute;
    left: 1%;
    top: 5px;
}
.logo .balao{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 10px black;
    border-bottom-right-radius: 50%;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    border-top-right-radius: 50%;
}
.logo .balao h3{
    position: relative;
    position: relative;
    font-size: 26px;
    color: #fff;
    top: 30px;
}

.logo .balao:nth-child(1) h3{
    left: 10px;
}
.logo .balao:nth-child(1){
    background: linear-gradient(45deg, #fb0311, #c000fdfc);
}


.logo .balao:nth-child(2) h3{
    left: 30px;
}

.logo .balao:nth-child(2){
    left: 80px;
    top: 30px;
    width: 74%;
    height: 79%;
    background-color: #af00ff;
}

.logo .balao:nth-child(2):before{
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 60px solid #af00ff;
    bottom: -19px;
    right: 13px;
    z-index: 1;
    transform: rotateY(-146deg) rotateZ(58deg);
    
}

.container-perfil{
    position: absolute;
    right: 10px;
    width: 200px;
    height: 80px;
    top: 10px;
    justify-content: center;
}
.perfil{
    position: absolute;
    top: 0px;
    left: 100px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    /* background: #ff00e6; */
    box-shadow: 0px 0px 3px black;
}
.container-perfil span{
    position: absolute;
    right: 29px;
    bottom: 0px;
    font-size: 12px;
    color: #fff;

}
.contatos{
    background: #292828;
    width: 30%;
    height: 84vh;
    position: absolute;
    bottom: 0px;
    
}

.contatos::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background: rgba(0,0,0,0.3);
}

.contatos form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 8vh;
    background: #af00ff;
    position: relative;
}
.container-busca{
    position: absolute;
    bottom:15px;
    width: 68%;
    border-bottom: 2px solid #fff;
    
}
.contatos form label{
    color: white;
    position: absolute;
    top: 1px;
}
.contatos form button{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 4vh;
    margin-left: 10px;
    border: none;
    outline-style: nones;
}

.contatos form input{
    outline-style: none;
    border: none;
    height: 35px;
    background: transparent;
    text-indent: 20px;
}

.contatos form  img{
    position: absolute;
    left: 0px;
    top: 10px;
    filter: invert();
}
.contatos form input::-webkit-input-placeholder {
    color: white;
 }
 .amigos{
     overflow: visible;
    overflow-y: scroll;
    height: 77vh;
    width: 100%;
 }
 .amigos::-webkit-scrollbar{
    width: 5px;
    
}

.amigos::-webkit-scrollbar-thumb {
    background: #fffeff;
    border-radius: 14px;
    
}

.container-usuario{
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-bottom: 2px solid rgba(119, 111, 111, 0.09);
    padding-top: 10px;
}

.container-usuario .usuario-foto{
    width: 12vh;
    height: 12vh;
    border-radius: 50%;
    /* background: blueviolet; */
    float: left;
    position: absolute;
    left: 10px;
    overflow: hidden;
}
.container-usuario .usuario-foto img{ 
    width: 100%;
    transform: scale(1.1);
    border-radius: 50%;
}
.perfil img{
    width: 100%;
    height: 100%;
    transform: scale(1);
    border-radius: 50%;
    position: absolute;
    right: 0px; 
}
.container-usuario h4{
    position: absolute;
    font-size: 20px;
    left: 16vh;
    color: #b7b3b3;
    top: 4vh;
}
.container-usuario h5{
    position: absolute;
    left: 16vh;
    top: 8vh;
    color: #af00ff;
}

.chat{
    background: linear-gradient(-160deg,rgb(47, 46, 46),#333232);
    width: 70%;
    height: 84vh;
    position: absolute;
    bottom: 0px;  
    right: 0px;
}
/* p{
    color: white;
    font-size: 6em;
    line-height: 1.1em;
    outline-style: none;
    font-family: 'Poppins';
    text-align: center;
    transform: rotate(-10deg) skewX(20deg);
    text-shadow: -1px 1px #ccc7c7,
                -2px 2px #ccc7c7,
                -3px 3px #ccc7c7,
                -4px 4px #ccc7c7,
                -5px 5px #ccc7c7,
                -6px 6px #ccc7c7,
                -7px 7px #ccc7c7,
                -8px 8px #ccc7c7,
                -9px 9px #ccc7c7,
                -15px 15px rgba(0,0,0,0.2);
} */